.match-info-wrap {
    height: 20%;
    padding: 2vmin 4vmin 0 2vmin;
    transform: translate3d(0, 0, 0);
    transition: all 0.6s;

    &.hidden {
        transform: translate3d(-100%, 0, 0);
    }

    .match-info {
        padding: 2vmin;
        padding-top: 0.8vmin;
        background: var(--paper-color);
        width: 100%;
        height: 100%;
        font-size: 3vw;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        flex-direction: column;

        border: 2vmin solid var(--game-color-2);
        box-shadow: 0 0 4px 0px rgba(0,0,0,0.8);
        transform: rotate3d(0, 0, 1, 0deg);
        transition: all 0.3s;
    }

    .points {
        display: flex;
        width: 100%;
        height: 8vmin;
        justify-content: space-between;

        background-color: var(--game-color-1);

        &:before {
            display: block;
            content: "";
            background-color: var(--game-color-2);
            width: 50%;
            height: 100%;
            position: absolute;
            right: 0;
        }


    }

    .points-label {
        color: #3c3758;
        -webkit-text-stroke: 0.2vmin #0e153d;
        font-size: 4vmin;
        margin-bottom: 0.4vmin;
    }

    .points > div {
        width: 2vmin;
        height: 2vmin;
        aspect-ratio: 1;
        background: url('../assets/coin-suit.png') no-repeat center center;
        background-size: cover;
        top: 1px;

        &:after {
            display: block;
            content: "";
            background: url('../assets/sword-suit-v.png') no-repeat center center;
            width: 1.6vmin;
            background-size: cover;
            aspect-ratio: 1/3;
            image-rendering: pixelated;
            position: absolute;
            top: 2.9vmin;
            right: 0.2vmin;
            transform: rotate(180deg);
            filter: drop-shadow(0 0 2px black);
            opacity: 0;
        }

        &.active:after {
            opacity: 1;
        }
    }

    /*.points :nth-child(1) {
        border: 0.5vmin dashed var(--game-color-1);
    }

    .points :nth-child(2) {
        visibility: hidden;
        border: 0.5vmin solid black;

    }

    .points :nth-child(3) {
        border: 1vmin solid #62620c;
        background-color: #85a731;
    }*/
}

@media (max-aspect-ratio: $medMaxAR) {
    .match-info-wrap {
        width: 25%;
        height: 100%;
        padding: 2vmin 0 4vmin 2vmin;

        &.hidden {
            transform: translate3d(0, -100%, 0);
        }

        .match-info {
            border: 1vmin solid var(--game-color-2);
        }

        .points > div {
            width: 1vmin;
            height: 1vmin;
            &:after {
                right: -0.4vmin;
            }
        }


    }


}


@media (max-aspect-ratio: $medMaxAR) and (min-aspect-ratio: 1 / 1.3) {


}

@media (max-aspect-ratio: 1 / 1.3) {

}
